
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 40px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

/* Estilos de la paginación */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

/* Estilos para las imágenes */
td img {
    max-width: 50px;
    height: auto;
}

/* Estilo para el mensaje de sin imagen */
td img[src="uploads/"] {
    display: none;
}

/* Estilo para el mensaje "Sin imagen" */
td:empty::before {
    content: "Sin imagen";
    display: block;
    color: #777;
}
